language = "nodejs"
entrypoint = "index.html"

run = "npm run dev -- --host --port $PORT"
modules = ["nodejs-20"]

[env]
VITE_HASH_ROUTER = "1"

[packager]
ignoredPackages = ["nodejs-22"]

[deployment]
run = ["npm", "run", "dev", "--", "--host", "--port", "$PORT"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45411998
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host --port $PORT"
