
language = "nodejs"
onBoot = "install"
run = "npm run dev -- --host --port $PORT"

[env]
VITE_HASH_ROUTER = "1"

[commands]
install = "npm ci || npm i"
dev = "npm run dev -- --host --port $PORT"
build = "npm run build"
preview = "npm run preview -- --host --port $PORT"

[workflows]
runButton = "Dev Server"
